<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dance4Ever.mapper.UserRoleMapper">
	<!-- 1.更新修改用户角色 -->
	<update id="updateUr" parameterType="UserRole">
		update user_role set role_id =#{userRole.roleId}
		where user_id = #{userRole.userId}
	</update>
	
	<!-- 2.删除用户角色连接表内信息 -->
	<delete id="deleteUserRole" parameterType="String">
		delete from user_role
		where user_id = #{userId}
	</delete>
	
	<!-- 3.添加用户角色 -->
	<insert id="addUserRole" parameterType="UserRole">
		insert into user_role (user_role_id,user_id,role_id) 
		values (#{userRole.userRoleId} , #{userRole.userId} , #{userRole.roleId})
	</insert>
</mapper>